@import "tailwindcss";

@theme {
  --font-AllertaStencil: "Allerta Stencil", sans-serif; 
}

.button-violet {
  @apply bg-transparent text-violet-700 hover:bg-violet-50 active:bg-violet-100 transition border border-violet-500 rounded-lg px-5 py-2 text-xl block text-center shadow-sm font-medium focus:outline-none focus:ring-2 focus:ring-violet-200
}

.button-red {
  @apply bg-transparent text-red-700 hover:bg-red-50 active:bg-red-100 transition border border-red-500 rounded-lg px-5 py-2 text-xl block text-center shadow-sm font-medium focus:outline-none focus:ring-2 focus:ring-red-200
}